# Compiled source #
###################
**/target/
**/build/
!**/src/main/**/target/
!**/src/test/**/target/

# Maven #
#########
**/.mvn
**/.mvn/timing.properties
!**/.mvn/wrapper/maven-wrapper.jar
!**/.mvn/wrapper/maven-wrapper.properties
!**/.mvn/wrapper/mvnw
!**/.mvn/wrapper/mvnw.cmd

# IntelliJ IDEA #
#################
.idea

# VS Code #
###########
.vscode/

# If you're using git submodules, you might want to include #
############################################################
**/.gitignore
**/modules/

# Application configuration #
##########################################
**/src/main/resources/application.yml
